<div class="forgot_password">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="forgot_password__form fade-in-down">
        <h2 class="text-center">Forgot your password?</h2>
        <div class="mb-3">
            <label for="credential" class="form-label">Email or phone number</label>
            <input id="credential" class="form-control" type="text" formControlName="credential"
                placeholder="Enter your email or phone number" />
            <div *ngIf="form.get('credential')?.invalid && form.get('credential')?.touched">
                <small class="error">Credential is required.</small>
            </div>
        </div>
        <button class="btn w-100 mb-5" type="submit" [disabled]="form.invalid">Send reset link</button>
        <p class="form__navigate">Back to <a [routerLink]="'/login'">login</a></p>
    </form>
</div>
