html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-content {
    flex: 1;
    padding-bottom: 70px;
    /* height of bottom navbar */
    overflow-y: auto;
}
