.login,
.register,
.forgot_password {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login__form,
.register__form,
.forgot_password_form {
    max-width: 500px;
    min-width: 300px;
    margin: auto;
}

.form__navigate a {
    color: #000;
}
