<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="form fade-in-down">
    <h2 class="text-center">Enter one time reset password code: </h2>
    <div class="mb-3">
        <input id="code" class="form-control" type="text" formControlName="code"
            placeholder="Enter your email or phone number" />
        <div *ngIf="form.get('code')?.invalid && form.get('code')?.touched">
            <small class="error">Code is required.</small>
        </div>
    </div>
    <button class="btn w-100 mb-5" type="submit" [disabled]="form.invalid">Validate</button>
    <p class="form__navigate"><a [routerLink]="'/forgot-password'">Resend code </a></p>
</form>
