<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="p-3 border rounded shadow-sm bg-white">
    <div class="mb-3">
        <label class="form-label">Current Password</label>
        <input type="password" formControlName="currentPassword" class="form-control" />
        <div class="text-danger small"
            *ngIf="form.get('currentPassword')?.touched && form.get('currentPassword')?.invalid">
            Required
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control" />
        <div class="text-danger small" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid">
            Minimum 6 characters
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Confirm New Password</label>
        <input type="password" formControlName="newPasswordConfirm" class="form-control" />
        <div class="text-danger small"
            *ngIf="form.hasError('passwordMismatch') && form.get('newPasswordConfirm')?.touched">
            Passwords do not match
        </div>
    </div>

    <button class="btn btn-primary w-100" [disabled]="form.invalid">Change Password</button>
</form>
