<app-top-navbar [pageTitle]="'Measurements'" [backLink]="'/account'" [rightText]="'Add new'" ></app-top-navbar>
<div class="container py-3 measurements">
    <div *ngIf="measurements.length > 0" class="mt-4">
        <div class="list-group">
            <div *ngFor="let m of measurements; let i = index" class="list-group-item list-group-item-light">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ m.date | date:'mediumDate' }}</strong>
                        <div class="text-muted small">Recorded on {{ m.createdAt | date:'short' }}</div>
                    </div>

                    <div class="text-end">
                        <div>Weight: {{ m.weight }} kg</div>
                        <div>Body Fat: {{ m.bodyFatPercentage }}%</div>
                        <div>SMM: {{ m.skeletalMuscleMass }} kg</div>
                        <div *ngIf="i < measurements.length - 1" class="text-muted small mt-1">
                            Δ Weight: {{ (m.weight - measurements[i + 1].weight) | number:'1.1-1' }} kg<br>
                            Δ Body Fat: {{ (m.bodyFatPercentage - measurements[i + 1].bodyFatPercentage) |
                            number:'1.1-1' }}%<br>
                            Δ SMM: {{ (m.skeletalMuscleMass - measurements[i + 1].skeletalMuscleMass) | number:'1.1-1'
                            }} kg
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="measurements.length === 0" class="text-center text-muted mt-5">
        No measurements available.
    </div>
</div>
