<div class="login d-flex justify-content-center align-items-center min-vh-100 bg-light">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login__form fade-in-down bg-white p-5 rounded-4 shadow-lg"
        style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4 fw-bold">Welcome Back to TrackFit👋</h2>

        <div class="mb-4">
            <label for="credential" class="form-label fw-semibold">Email or Phone</label>
            <div class="input-group">
                <span class="input-group-text bg-white"><i class="bi bi-person-fill"></i></span>
                <input id="credential" type="text" formControlName="credential" class="form-control"
                    placeholder="Enter your email or phone number" />
            </div>
            <div *ngIf="form.get('credential')?.invalid && form.get('credential')?.touched">
                <small class="text-danger">Credential is required.</small>
            </div>
        </div>

        <div class="mb-4">
            <label for="password" class="form-label fw-semibold">Password</label>
            <div class="input-group">
                <span class="input-group-text bg-white"><i class="bi bi-lock-fill"></i></span>
                <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                    class="form-control" placeholder="Enter your password" />
                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()"
                    tabindex="-1">
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
            </div>
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <small class="text-danger">Password is required.</small>
            </div>
        </div>

        <button class="btn btn-primary w-100 mb-4 py-2 fw-semibold" type="submit" [disabled]="form.invalid">
            <i class="bi bi-box-arrow-in-right me-1"></i> Login
        </button>

        <p class="text-center mb-1">Don’t have an account? <a [routerLink]="'/register'"
                class="text-decoration-none">Register</a></p>
        <p class="text-center"><a [routerLink]="'/forgot-password'" class="text-decoration-none">Forgot password?</a>
        </p>
    </form>
</div>
