<div class="login">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login__form fade-in-down">
        <h2 class="text-center">Login</h2>
        <div class="mb-3">
            <label for="credential" class="form-label">Email or phone number</label>
            <input id="credential" class="form-control" type="text" formControlName="credential"
                placeholder="Enter your email or phone number" />
            <div *ngIf="form.get('credential')?.invalid && form.get('credential')?.touched">
                <small class="error">Credential is required.</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" class="form-control" type="password" formControlName="password"
                placeholder="Enter your password" />
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <small class="error">Password is required.</small>
            </div>
        </div>

        <button class="btn w-100 mb-5" type="submit" [disabled]="form.invalid">Login</button>
        <p class="form__navigate">Not account yet? <a [routerLink]="'/register'">Register</a></p>
        <p class="form__navigate">Forgot your password? <a [routerLink]="'/forgot-password'">Send reset link</a></p>
    </form>
</div>
