<div class="container py-4">
    <div class="row align-items-center">
        <!-- Left: Profile Picture -->
        <div class="col-md-3 text-center">
            <img [src]="imageUrl" alt="Profile Picture" class="img-thumbnail rounded-circle profile-pic">
        </div>

        <!-- Right: Profile Info -->
        <div class="col-md-9">
            <h4>{{ user.firstName }} {{ user.lastName }}</h4>
            <p class="text-muted">Age: {{ age }}</p>
            <button class="btn btn-outline-primary btn-sm" routerLink="/account/me">
                <i class="bi bi-pencil-square"></i> Edit Profile Details
            </button>
        </div>
    </div>

    <!-- Metrics: IMC, BMR, TDEE -->
    <div class="row text-center mt-4">
        <div class="col-md-4">
            <h6>IMC</h6>
            <p class="metric">{{ imc }}</p>
        </div>
        <div class="col-md-4">
            <h6>BMR</h6>
            <p class="metric">{{ bmr }}</p>
        </div>
        <div class="col-md-4">
            <h6>TDEE</h6>
            <p class="metric">{{ tdee }}</p>
        </div>
    </div>

    <!-- Sections -->
    <div class="mt-5">
        <h5><i class="bi bi-rulers"></i> Measurements</h5>
        <!-- measurements list here -->

        <h5 class="mt-4"><i class="bi bi-bullseye"></i> Caloric Targets</h5>
        <!-- caloric targets display -->

        <h5 class="mt-4"><i class="bi bi-calendar3"></i> Meal Plans</h5>
        <!-- meal plans section -->

        <button class="btn btn-danger mt-4" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i> Logout
        </button>
    </div>
</div>
