<div class="container py-4">
    <app-profile-picture></app-profile-picture>
    
    <div class="mt-5">
        <div class="list-group shadow-sm">
            <div class="list-group-item d-flex align-items-center justify-content-between py-3 border-0 border-bottom"
                routerLink="/measurements">
                <span><i class="bi bi-rulers me-2"></i> Measurements</span>
            </div>

            <div class="list-group-item d-flex align-items-center justify-content-between py-3 border-0 border-bottom"
                routerLink="/caloric-targets">
                <span><i class="bi bi-bullseye me-2"></i> Caloric Targets</span>
            </div>

            <div class="list-group-item d-flex align-items-center justify-content-between py-3 border-0 border-bottom"
                routerLink="/meal-plans">
                <span><i class="bi bi-calendar3 me-2"></i> Meal Plans</span>
            </div>

            <div class="list-group-item d-flex align-items-center justify-content-between py-3 border-0 border-bottom"
                routerLink="/account/change-password">
                <span><i class="bi bi-key me-2"></i> Change Password</span>
            </div>

            <button class="list-group-item btn btn-link text-danger d-flex align-items-center py-3 border-0"
                (click)="logout()">
                <i class="bi bi-box-arrow-right me-2"></i> Logout
            </button>
        </div>
    </div>

</div>
