<div class="container py-3">
    <div *ngIf="mealPlan">
        <h3 class="mb-4">{{ mealPlan.name }}</h3>
        <div class="mb-3">
            <p><strong>Type:</strong> {{ mealPlan.type.replace('_', ' ') | titlecase }}</p>
            <p><strong>Preference:</strong> {{ mealPlan.preference.replace('_', ' ') | titlecase }}</p>
            <p><strong>Meals per Day:</strong> {{ mealPlan.mealsPerDay }}</p>
            <p><strong>Restrictions:</strong> {{ mealPlan.restrictions.length ? mealPlan.restrictions.join(', ') : '-'
                }}</p>
            <p><strong>Preferred Foods:</strong> {{ mealPlan.preferredFoods || '-' }}</p>
            <p><strong>Excluded Foods:</strong> {{ mealPlan.excludedFoods || '-' }}</p>
        </div>

        <div *ngFor="let day of mealPlan.days" class="mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ day.name }}</h5>
                    <p class="text-muted">{{ day.description }}</p>
                    <p><strong>Caloric Target:</strong> {{ day.dailyCaloricTarget }} kcal</p>
                    <p><strong>Macros:</strong> {{ day.dailyMacros.protein }}g protein, {{ day.dailyMacros.carb }}g
                        carbs, {{ day.dailyMacros.fat }}g fat</p>

                    <div class="list-group mt-3">
                        <div *ngFor="let meal of day.meals" class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6 class="mb-1">{{ meal.name }}</h6>
                                    <p class="mb-1">{{ meal.description }}</p>
                                    <small class="text-muted">Type: {{ meal.type }}</small>
                                </div>
                                <div class="text-end">
                                    <p class="mb-0"><strong>{{ meal.kcal }}</strong> kcal</p>
                                    <small>
                                        <i class="bi bi-egg-fill text-success"></i> {{ meal.protein }}g
                                        <i class="bi bi-cup-straw text-danger ms-2"></i> {{ meal.carb }}g
                                        <i class="bi bi-droplet-half text-warning ms-2"></i> {{ meal.fat }}g
                                        <i class="bi bi-bar-chart-fill text-primary ms-2"></i> {{ meal.fibre }}g fibre
                                        <i class="bi bi-flask text-secondary ms-2"></i> {{ meal.salt }}g salt
                                    </small>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
